
<div class="footer py-5"  style="background-color: rgb(34, 33, 33);">
    <div class="container text-light">
        <div class="row">
            <div class="col-3">
                <h6><i class="fa-solid fa-users"></i> Shop Cart</h6>
                <span style="text-align: justify;">Lorem ipsum dolor sit adipisicing elit. Facere eligendi cupiditate doloremque accusantium delenLorem ipsum dolor sit adipisicing elit. Facere eligendi dolores</span>
            </div>
            <div class='col-3 d-flex flex-column'>
                <h6>PRODUCTS</h6>
                <span>Angular</span>
                <span>React</span>
                <span>Vue</span>
                <span>Larvel</span>
            </div>
            <div class='col-3 d-flex flex-column'>
                <h6>USEFUL LINKS</h6>
                <span>Pricing</span>
                <span>Settings</span>
                <span>Orders</span>
                <span>Help</span>
            </div>
            <div class='col-3 d-flex flex-column'>
                <h6>CONTACT</h6>
                <span><i class="fa-solid fa-location-dot"></i> New York ,NV 10013 ,us</span>
                <span><i class="fa-solid fa-envelope"></i> projectfair@gmail.com</span>
                <span><i class="fa-solid fa-phone"></i> +01 2378932</span>
                <span><i class="fa-solid fa-phone"></i> +01 2348459</span>
            </div>
        </div>
        <h6 class='text-center mt-5'>Copyright ©️ 2023 Project-Fair. Built with Angular</h6>
    </div>
</div>